div, ul {
  box-sizing: border-box; }

h3 {
  font-size: 1.4rem; }

html {
  font-size: 10px;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  font-family: Georgia;
  color: #4d4f4f;
  font-size: 1.2rem; }

.container {
  display: flex;
  margin: 0 auto;
  /* flex-wrap: wrap; */
  /* padding: 0 135px; */ }

header {
  display: flex;
  /*flex-wrap: wrap;*/
  width: 1020px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 30px; }

.top-logo {
  margin: 35px 45px 11px 0; }
  .top-logo p {
    font-size: 1.3rem; }

.top-nav__list {
  margin-top: 25px; }
  .top-nav__list .top-nav__item {
    display: inline-block;
    font-size: 1.6rem;
    margin-right: 20px;
    font-style: italic;
    text-decoration: underline; }

.header__phone {
  margin: 63px auto 11px 0;
  width: 235px; }
  .header__phone .phone {
    float: left;
    margin-right: 10px;
    font-family: Arial; }
    .header__phone .phone span {
      font-size: 2.4rem; }
  .header__phone .header__email {
    margin-top: 7px;
    font-style: italic;
    text-decoration: underline; }

.i-bank {
  width: 220px;
  padding: 15px 0 20px 40px;
  font-size: 1.2rem;
  background-color: #f7f2dc;
  border-radius: 0 0 0 30px; }
  .i-bank h4 {
    font-style: bold;
    margin-bottom: 17px; }
  .i-bank .i-bank__nav .i-bank__nav-item {
    margin-bottom: 5px;
    font-style: italic;
    text-decoration: underline; }

/* SIDEBAR */
.left-sidebar {
  /*width: 220px;*/
  /* padding-right: 20px; */ }

.client-request {
  width: 220px;
  background-color: #f7f2dc;
  border-radius: 0 30px 0 0;
  margin-bottom: 35px;
  padding: 0 0 20px 0; }
  .client-request h4 {
    color: white;
    font-size: 1.8rem;
    border-radius: 0 30px 0 0;
    padding: 18px 0 10px 0;
    margin-bottom: 20px;
    padding-left: 20px;
    background: #5cbb10;
    background: -moz-linear-gradient(top, #5cbb10 1%, #77cd11 100%);
    background: -webkit-linear-gradient(top, #5cbb10 1%, #77cd11 100%);
    background: linear-gradient(to bottom, #5cbb10 1%, #77cd11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cbb10', endColorstr='#77cd11',GradientType=0 ); }
  .client-request .client-request__nav {
    padding-left: 20px; }
    .client-request .client-request__nav .client-request__nav-item {
      font-style: italic;
      text-decoration: underline;
      margin-bottom: 8px;
      line-height: 16px; }
  .client-request .client-request__search {
    position: relative;
    margin: 40px 0 0 20px; }
    .client-request .client-request__search form input {
      margin-top: 10px;
      padding-left: 5px;
      width: 74%;
      font-size: 1.1rem;
      font-family: Georgia; }
    .client-request .client-request__search .search-icon {
      position: absolute;
      top: 8px;
      right: 13px;
      display: block;
      width: 24px;
      height: 21px;
      background-image: url(/public/images/search-icon.png); }

.feedback-block {
  margin-bottom: 28px; }
  .feedback-block .feedback-block__nav .feedback-block__item {
    display: block;
    position: relative;
    width: 77px;
    height: 77px;
    border-radius: 100%;
    border: 10px #f0eace solid;
    margin-bottom: 15px; }
    .feedback-block .feedback-block__nav .feedback-block__item span {
      display: block;
      width: 89px;
      position: absolute;
      right: -80px;
      top: 31%;
      font-style: italic;
      background-color: white;
      line-height: 14px;
      padding: 6px 0; }
  .feedback-block .feedback-block__nav .feedback-block__item:hover span {
    color: #369a00; }
  .feedback-block .feedback-block__nav .feedback-block__item:hover {
    border: 10px #73ca14 solid; }
  .feedback-block .feedback-block__nav .consult {
    background-image: url(/public/images/feedback-image-1.png); }
  .feedback-block .feedback-block__nav .review {
    background-image: url(/public/images/feedback-image-2.png); }
  .feedback-block .feedback-block__nav .quest {
    background-image: url(/public/images/feedback-image-3.png); }
  .feedback-block .feedback-block__nav .credit-rate {
    position: relative;
    border: 0;
    width: 105px;
    height: 105px;
    /* background: url(/public/images/feedback-image-4.png); */ }
    .feedback-block .feedback-block__nav .credit-rate span {
      right: -75px;
      top: 36%;
      padding: 2px 0;
      opacity: 1; }
  .feedback-block .feedback-block__nav .credit-rate:after {
    content: "";
    background: url(/public/images/feedback-image-4.png);
    opacity: 0.5;
    border: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .feedback-block .feedback-block__nav .credit-rate:hover:after {
    opacity: 1; }
  .feedback-block .feedback-block__nav .credit-rate:hover {
    border: 0; }

.exch-rates {
  padding: 15px 0 25px 10px;
  background: #f7f2dc;
  border-radius: 0 0 0 30px; }
  .exch-rates h4 {
    margin-bottom: 12px; }

.rates-table th {
  font-weight: normal; }

.rates-table th,
.rates-table td {
  padding-bottom: 7px;
  font-style: normal;
  width: 62px;
  text-align: center; }

/* MAIN-CONTENT */
#main-container,
#footer {
  width: 1020px; }

main.main-content {
  width: 760px;
  margin-left: 40px; }

.client-nav {
  position: relative;
  z-index: 5; }

.client-nav__list {
  z-index: 10;
  position: absolute;
  border-radius: 30px 0 0 0;
  background: #437808;
  width: 100%;
  height: 40px;
  opacity: .8;
  /*padding-left: 35px;*/ }
  .client-nav__list .client-nav__list-item:last-child {
    padding-right: 0; }
  .client-nav__list .client-nav__list-item {
    display: inline-block;
    height: 30px;
    width: 240px;
    float: left;
    padding: 10px 0 0 0;
    text-align: center; }
    .client-nav__list .client-nav__list-item > a {
      color: white;
      text-decoration: none;
      font-size: 1.8rem; }

.client-nav__list-item span {
  display: none;
  top: 0;
  position: absolute;
  height: 40px;
  content: '';
  background: #52910a;
  z-index: -1; }

.client-nav__list-item[data-dropdown="1"] span {
  right: 525px;
  width: 235px;
  border-radius: 30px 30px 0 0; }

.client-nav__list-item[data-dropdown="2"] span {
  right: 290px;
  width: 235px;
  border-radius: 30px 30px 0 0; }

.client-nav__list-item[data-dropdown="3"] span {
  right: 0;
  width: 290px;
  border-radius: 30px 0 0 0; }

.client-nav__dropdown {
  z-index: -999;
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 100%;
  height: 90px;
  background: #437808;
  opacity: .95;
  padding: 8px 0 0 25px; }

.client-nav__dropdown-item {
  float: left;
  margin: 10px 45px 0 0; }
  .client-nav__dropdown-item > a {
    color: #c8ef8c;
    text-decoration: none; }

.client-nav__banner {
  width: 100%;
  position: relative;
  background: #5cbb10;
  background: -moz-linear-gradient(bottom, #5b9824 1%, #95cc34 100%);
  background: -webkit-linear-gradient(bottom, #5b9824 1%, #95cc34 100%);
  background: linear-gradient(to top, #5b9824 1%, #95cc34 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#5b9824', startColorstr='#95cc34',GradientType=0 );
  height: 303px;
  border-radius: 30px 0 0 0; }
  .client-nav__banner p, .client-nav__banner h2 {
    position: absolute; }
  .client-nav__banner p {
    top: 110px;
    right: 60px;
    width: 335px;
    font-family: Arial;
    font-size: 5.6rem;
    font-weight: bold;
    line-height: .85em;
    color: rgba(251, 242, 176, 0.45); }
  .client-nav__banner h2 {
    top: 222px;
    right: 120px;
    font-size: 2.2rem;
    font-weight: normal;
    color: #d5ff73; }

.money-nav {
  width: 100%;
  height: 175px;
  border-radius: 0 0 30px 0;
  background: #5cbb10;
  background: -moz-linear-gradient(bottom, #249901 1%, #77cd11 100%);
  background: -webkit-linear-gradient(bottom, #249901 1%, #77cd11 100%);
  background: linear-gradient(to top, #249901 1%, #77cd11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#249901', startColorstr='#77cd11',GradientType=0 );
  margin-top: 30px; }

.money-nav__list {
  display: flex;
  justify-content: space-around; }

.money-nav__list-item {
  text-align: center;
  margin-top: 10px; }

.money-nav__desc {
  margin-top: -20px; }
  .money-nav__desc dt {
    color: #fff;
    margin-bottom: 5px; }
  .money-nav__desc dd a {
    color: #c3ff68;
    font-size: 1.4rem;
    text-decoration: none; }

.news-block {
  width: 100%;
  height: 250px;
  margin-top: 28px; }

.news-block__main-item img {
  float: left;
  margin-right: 22px; }

.news-block__main-item .news-block__header {
  display: inline-block;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: normal;
  border-bottom: 2px solid #bebfbf; }

.news-block__main-item .news-block__item-content {
  margin-top: 14px; }
  .news-block__main-item .news-block__item-content :first-child {
    margin-top: 0; }
  .news-block__main-item .news-block__item-content p {
    line-height: 16px;
    margin-top: 8px; }

.news-block__main-item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.news-block__news-list {
  clear: both;
  margin-top: 17px; }
  .news-block__news-list .news-list__item {
    margin-top: 7px; }
    .news-block__news-list .news-list__item span {
      display: inline-block;
      width: 60px;
      padding-right: 6px;
      font-family: Arial;
      font-style: italic;
      color: #8b8d8d;
      text-align: right; }
    .news-block__news-list .news-list__item a {
      font-style: italic; }

.partners {
  padding: 15px 0 26px 10px;
  background: #f7f2dc;
  border-radius: 0 0 30px 0;
  width: 100%;
  height: 129px; }

.partners__carousel {
  display: flex;
  justify-content: space-around;
  margin: 14px 27px 0 7px; }
  .partners__carousel .partners__carousel-item {
    mix-blend-mode: multiply; }

.slick-slide {
  margin: 0 0 0 33px;
  width: 160px; }

/* .partners__carousel-arrow {
	display: block;
	height: 38px;
	width: 21px;
	margin-top: 8px;
	background-image: url(/public/images/partners_arrow.png);
}
.partners__carousel-arrow.right {
	transform: rotate(180deg);
} */
.slick-arrow {
  display: block;
  height: 39px;
  width: 68px;
  margin-top: 8px;
  /*margin-left:*/
  background: none;
  background-image: url(/public/images/partners_arrow.png);
  border: none; }

.slick-next {
  transform: rotate(180deg); }

/* FOOTER */
.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #d4ceb6;
  margin-top: 40px;
  padding: 20px 0 25px 0; }

.license {
  display: flex;
  align-items: flex-end; }
  .license img {
    display: block;
    float: left; }
  .license p {
    width: 108px;
    margin-left: 10px;
    float: left;
    font-size: 1.1rem; }

.footer-grid-col {
  margin-left: 43px; }

.footer-nav__list .footer-nav__item {
  display: inline-block;
  margin-right: 35px;
  font-style: italic;
  text-decoration: underline; }

.footer-nav__item:last-child {
  margin-right: 0; }

.footer__contact-block {
  display: flex;
  font-size: 1.1rem;
  margin-top: 52px;
  /* align-items: flex-end; */ }
  .footer__contact-block p {
    margin-right: 30px;
    line-height: 16px; }
  .footer__contact-block .address {
    width: 177px; }
  .footer__contact-block .phone {
    width: 220px; }
  .footer__contact-block .copyright {
    width: 300px;
    margin-right: 0; }
    .footer__contact-block .copyright .devel {
      font-family: Arial;
      font-style: italic;
      text-decoration: underline; }

/* SLICK */
.slick-list.draggable {
  mix-blend-mode: multiply; }

/* 108px */
